// Layout
$light-blue: #3A4C63;
$dark-blue: #232F3F;

// Buttons
$light-blue-button: #4A5F7C;
$dark-blue-button: #2F3F55;

// Fonts
$default-font-family: 'Roboto Condensed', sans-serif;
$default-font-size: 18px;
$light-font-weight: lighter;
$regular-font-weight: normal;
$app-name-font-family: 'Audiowide', sans-serif;
$app-name-font-size: 1.43rem;
$small-font-size: 0.65rem;

// Colors
$va-light-green: #47E86D;
$va-light-red: #E85F62;