@import 'variables';

html, body, .app-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
html {
    font-size: $default-font-size;
    font-family: $default-font-family;
}
.app-wrapper {
    color: white;
    font-weight: $light-font-weight; 
    position: relative;
    .main-interface {
        flex-basis: 25%;
        background-color: $light-blue;
        padding: 15px 30px;
        .site-branding {
            font-family: $app-name-font-family;
            font-size: $app-name-font-size;
            text-align: center;
            .app-logo-white {
                width: 30px;
            }
        }
        .algorithms-wrapper {
            .algorithms-select-form {
                .algorithms-input-group {
                    text-align: center;
                    margin-bottom: 10px;
                    position: relative;
                    label {
                        padding: 7px;
                        background-color: $light-blue-button;
                        margin: 0;
                        width: 100%;
                        border-radius: 5px;
                        cursor: pointer;
                        &:hover {
                            background-color: $dark-blue-button;
                        }
                    }
                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        visibility: hidden;
                        &:checked {
                            ~ label {
                                background-color: white;
                                color: $light-blue-button;
                            }
                        }
                    }
                }
            }
        }
        .map-buttons-wrapper {
            .map-button {
                width: 60px;
                height: 60px;
                overflow: visible;
                background-color: $light-blue-button;
                padding: 10px;
                border: none;
                border-radius: 100%;
                position: relative;
                margin-bottom: 15px;
                img {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
                &:focus, &:active {
                    outline: 0;
                }
                &:after {
                    color: white;
                    position: absolute;
                    bottom: -18px;
                    font-size: $small-font-size;
                    cursor: default;
                }
            }
            .map-button.generate-map-button {
                &:after {
                    content: "Generate";
                    left: 7px;
                }
            }
            .map-button.green-pin-container {
                img {
                    cursor: grab;
                }
                &:after {
                    content: "Origin";
                    left: 15px;
                }
            }
            .map-button.red-pin-container {
                img {
                    cursor: grab;
                }
                &:after {
                    content: "Destination";
                    left: 2px;
                }
            }
        }
    }
    .map-wrapper {
        flex-basis: 75%;
        background-color: $dark-blue;
    }
    .app-buttons-wrapper {
        bottom: 15px;
        right: 15px;
        .app-button {
            padding: 3px 7px;
            border-radius: 5px;
            color: $dark-blue;
            border: none;
            &:active, &:focus {
                outline: 0;
            }
        }
        .app-button.reset-button {
            background-color: $va-light-red;
            margin-right: 5px;
            &:hover {
                background-color: #c75356;
            }
        }
        .app-button.visualize-button {
            background-color: $va-light-green;
            &:hover {
                background-color: #39b757;
            }
        }
    }
    img#origin-pin, img#destination-pin {
        width: 40px;
        height: 40px;
        cursor: grab;
        position: absolute;
    }
}
.tooltip {
    font-size: $small-font-size;
}